
.panel{
    margin:1%;
   
}

img{
    height:auto; 
    width: 100%; 
    margin;10px; 
    box-shadow:0 6px 6px -6px #000; 
}

.horizontal-row{
overflow-x:visible;
width: 3000px;
padding: 3%;
display:flex;
flex-wrap:nowrap;
}

.vertical-row{
width: 100%;
padding:3%;
display:flex;
flex-wrap:wrap;
}

.vertical-row .panel{
    width:22%;
}
